:root{
  --theme-color-stratos: #001B48;
  --theme-color-regal-blue: #02457A;
  --theme-color-bondi-blue: #018ABE;
  --theme-color-morning-glory: #97cADB;
  --theme-color-boticelli: #D6E8EE;
}

body{
  background-image: url(./assets/Background/Background.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  font-size: calc(10px + 2vmin);
}

.textWhite{
  color: red;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.InicioPading {
  position: relative;
  top: 35vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
